{% extends 'base_login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8">
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="{{ path('do_login') }}" method="post">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" class="form-control" placeholder="password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-outline-secondary" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}